body {
     font-family: 'Montserrat', sans-serif;
   
}
h4, h6 {
    font-weight: 600; /* Bold */
}

p, input, textarea {
    font-weight: 400; /* Regular */

}
.main_title {
  margin-left: -12px;
}
.clear_btn_class {
  margin-right: -12px;
}

li:hover {
    cursor: pointer;
}
.list_div {
  max-height: 103%; 
  overflow-y: auto;
}

/* form  */
form {
  margin: 0;
}
input {
  width: 100%;
  border: 0;
  outline: none;
  font-weight: 600;
}

textarea { 
  width: 100%;
  height: 86%;
  border: 0;  
  outline: none;
 
}
.list_title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  padding-right: 8px;
  width: 18ch;
}
.list_body {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  padding-right: 6px;
}

    @media (max-width: 767px) {
        .main_title {
         margin-left: 0px;
          }
          .clear_btn_class {
             margin-right: 0px;
        }
        .container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
         
        }
        .navbar {
          width: 100%;
          max-width: 400px;
          justify-content: space-between;
          align-items: center;
        }
      
        .main_div {
          width: 100%; /* Ensure it takes full width */
          max-width: 400px; /* Optional: Limit max width for better readability */
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
        .notes_div {
          height: 65%; /* 68% height for notes div */
          padding-bottom: 28px !important;
        }
        .list_div {
          height: 34%; /* 30% height for list div */
          overflow-y: auto;
        }
      }

      /* Custom height for medium and larger devices */
      @media (min-width: 768px) {
        .notes_div, .list_div {
          height: auto; /* Auto height for larger devices */
        }
      }
